.login {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

h1 {
    margin: 10px;
    color: white;
}

.loginButton {
    font-size: 14px;
    padding: 16px 48px 18px;
    margin: 20px;
    border-radius: 500px;
    background: linear-gradient(to right, #00AAFF, var(--primary));
    color: white;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
}